
<ion-view view-title="{{'contry_title' | translate}}" ng-controller="ContryCtrl" cache-view="false">

<ion-slide-box on-slide-changed="slideChanged(index)"  active-slide="slideIndex" >  
          <ion-slide ng-repeat="item in country_info">
   <ion-content>
   <div class = "list card">
	            <h3 id="page_title"><b>{{item.title}}</b></h3>
				<div ><img src='{{item.img}}' align="middle" width="80%" class="imageblock"></div>
				<div id="list">
		            <p id="page_content" ng-bind-html="item.content">
					</p>
				</div>
	</div>
	</ion-content>

          </ion-slide> 

    </ion-slide-box> 



 </ion-slide-box>
</ion-view>
