

<ion-view view-title="{{ 'gospel_title' | translate}}" ng-controller="GospelCtrl">

    <ion-content>
    <div class="list card">

    <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" class="padding">
        
      <ion-slide ng-repeat="GospelCtrl in gospel" id="margin_zero">
        <div class="item item-image" >
            <img src='{{GospelCtrl.img}}' >
        </div>
      </ion-slide>    

        
    </ion-slide-box>

    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" ng-click="slide_prev(slideIndex)">
        <i class="icon ion-ios-arrow-back"></i>이전
        </a>

        <a class="tab-item" href="#" ng-click="play(slideIndex)">
        <i class="icon ion-ios-reload"></i>
        </a>

        <a class="tab-item" href="#" ng-click="slide_next(slideIndex)">
        다음<i class="icon ion-ios-arrow-forward"></i>
        </a>
    </div>

      </div>
  </ion-content>
</ion-view>


// 첫 오디오 파일은 실행시 항상 플레이 됨
<!-- <audio id="myAudio" autoplay="true"> 
 <source src="audio/gospel_1.mp3" type='audio/mp3'>
 Your user agent does not support the HTML5 Audio element.
</audio>
 -->
