<style type="text/css">
#home_slide_img{
	height:290px;
	width:100%;
	background: center center;
	background-size: 100% 290px;

}
#home_slide_text{
	margin-top: 170px;
	color : white;
	font-size: 18px;
	text-shadow: 2px 2px 2px black;
}

.row_margin{
	margin: 0px;
	padding: 0px;
}

#custom_col {
	width: 33%;
	border: #dddddd; 
	border-style: solid; 
	border-width: 1px; 
	padding-top: 20px; 
	margin: 1px 1px 5px 1px !important;
	min-height: 120px;
	font-size:15px;
	font-weight: 800;
	line-height: 17px;
	color:#888888;
	text-align:center !important;
 }

.my-icon:before,
.my-icon{
  font-size:50px !important;
  display:block !important;
  margin-bottom: 10px;
}
</style>

<ion-view view-title="Cambodia VisionTrip" id="back"> 
  <ion-content ng-controller="HomeCtrl">


 <ion-slide-box>
        
      <ion-slide  id="margin_zero">
        <div class="item item-image" id="home_slide_img" style="background-image: url('./img/home_img_1.jpg')" >
	        <br><br>
			<p id="home_slide_text" ng-bind-html="'home_slidetext_1' | translate"></p>

         </div>
      </ion-slide>    
     
      <ion-slide  id="margin_zero">
        <div class="item item-image" id="home_slide_img" style="background-image: url('./img/home_img_2.jpg')" >
			<p id="home_slide_text" ng-bind-html="'home_slidetext_2' | translate"></p>
        </div>
      </ion-slide>    
  </ion-slide-box>

  <div class="row row_margin" >
	  <a class="button button-block button-light" id="custom_col"href="#/app/gospel" menu-close ><i class="icon ion-ios-heart my-icon" style="color:#ffbfbf"></i>{{"gospel_title" | translate}}</a>

  	  <a class="button button-block button-light" id="custom_col" href="#/app/praylists" menu-close ><i class="icon ion-ios-musical-notes my-icon"  style="color:#ffd88d"></i>{{"praise_title" | translate}}</a>
	  <a class="button button-block button-light" id="custom_col" href="#/app/language" menu-close ><i class="icon ion-ios-chatbubble my-icon"  style="color:#b9e9ff"></i>{{"language_title" | translate}}</a>
 </div>	

  <div class="row row_margin" >
	  <a class="button button-block button-light" id="custom_col"href="#/app/contry" menu-close ><i class="icon ion-clipboard my-icon"  style="color:#bcffa1"></i>{{"contry_title" | translate}}</a>

  	  <a class="button button-block button-light" id="custom_col" href="#/app/manual" menu-close ><i class="icon ion-ios-paper my-icon"   style="color:#c7cbff"></i>{{"manual_title" | translate}}</a>
	  <a class="button button-block button-light" id="custom_col" href="#/app/setting" menu-close ><i class="icon ion-gear-a my-icon"  style="color:#f9c7ff"></i>{{"setting_title" | translate}}</a>
 </div>	
<p align="center" style="font-size:9px;color:#aaaaaa;margin-top:5px;">Copyright &#64; FMnC &amp; INU4J  |  Version 1.1.1</p>

  </ion-content>
</ion-view>
