<ion-view view-title="{{target_lang}} {{'app_name' | translate}}" id="back" > 
  <ion-content class="no-header" style="top: 0;" ng-controller="HomeCtrl"  >

 <ion-slide-box>
        
      <ion-slide  id="margin_zero">
        <div class="item item-image" id="home_slide_img" style="background-image: url('./img/home_img_1.jpg')" >
			<p id="home_slide_title" ng-bind-html="'home_slide1_title' | translate"></p>
			<p id="home_slide_text" ng-bind-html="'home_slide1_text' | translate"></p>

         </div>
      </ion-slide>    
     
      <ion-slide  id="margin_zero">
        <div class="item item-image" id="home_slide_img" style="background-image: url('./img/home_img_2.jpg')" >
			<p id="home_slide_title" ng-bind-html="'home_slide2_title' | translate"></p>
			<p id="home_slide_text" ng-bind-html="'home_slide2_text' | translate"></p>
        </div>
      </ion-slide>    

      <ion-slide  id="margin_zero">
        <div class="item item-image" id="home_slide_img" style="background-image: url('./img/home_img_3.jpg')" >
			<p id="home_slide_title" ng-bind-html="'home_slide3_title' | translate"></p>
			<p id="home_slide_text" ng-bind-html="'home_slide3_text' | translate"></p>
        </div>
      </ion-slide>    



  </ion-slide-box>

  <div class="row row_margin" >
	  <a class="button button-block button-light" id="custom_col" href="#/app/gospel" menu-close >
    {{"gospel_title" | translate}}
    <p class="icon_stitle">G O S P E L</p>
    <img src="img/icon/icon_gospel.png" class="icon_home"/>
    </a>

  	  <a class="button button-block button-light" id="custom_col" href="#/app/playlists" menu-close >{{"praise_title" | translate}} 
  	  <p class="icon_stitle">P R A I S E</p>
	    <img src="img/icon/icon_praise.png" class="icon_home"/></a>
 </div>	

  <div class="row row_margin" >
	  <a class="button button-block button-light" id="custom_col" href="#/app/language" menu-close >{{"language_title" | translate}}
	   <p class="icon_stitle">C O N V E R S A T I O N</p>
    	<img src="img/icon/icon_language.png" class="icon_home"/>
    </a>

	  <a class="button button-block button-light" id="custom_col"href="#/app/contry" menu-close >{{"contry_title" | translate}}
	   <p class="icon_stitle">C O N T R Y</p>
	    <img src="img/icon/icon_contry.png" class="icon_home"/></a>
  </div>
  
  <div class="row row_margin" >
  	  <a class="button button-block button-light" id="custom_col" href="#/app/manual" menu-close >{{"manual_title" | translate}} <p class="icon_stitle">M A N U A L</p>
    <img src="img/icon/icon_manual.png" class="icon_home"/></a>
	  <a class="button button-block button-light" id="custom_col" href="#/app/setting" menu-close >{{"setting_title" | translate}} <p class="icon_stitle">S E T T I N G</p>
    <img src="img/icon/icon_setting.png" class="icon_home"/></a>
  </div>	
<p align="center" style="font-size:9px;color:#aaaaaa;margin-top:5px;">Copyright &#64; FMnC &amp; INU4J  |  Version 1.2.0</p>

  </ion-content>
</ion-view>
