<ion-view view-title="선교언어">
  <ion-content ng-controller="lang_list">
<div class="list">
  <ion-list>
    <div class="item item-divider"> 
        일반회화
    </div> 
    <ion-item class="item item-avatar" ng-repeat="lang in langs1" href="#" ng-click="play({{lang.id}})">  
        <img src="img/play-icon2.png">
        <h2>{{lang.myLang}}</h2>
        <p>{{lang.lang_sound}}</p>
    </ion-item>

    <div class="item item-divider"> 
        축복회화
    </div> 
    <ion-item class="item item-avatar" ng-repeat="lang in langs2" href="#" ng-click="play({{lang.id}})">  
        <img src="img/play-icon2.png">
        <h2>{{lang.myLang}}</h2>
        <p>{{lang.lang_sound}}</p>
    </ion-item>

    <div class="item item-divider"> 
        전도회화
    </div> 
    <ion-item class="item item-avatar" ng-repeat="lang in langs3" href="#" ng-click="play({{lang.id}})">  
        <img src="img/play-icon2.png">
        <h2>{{lang.myLang}}</h2>
        <p>{{lang.lang_sound}}</p>
    </ion-item>

 
  </ion-list>
</div>

  </ion-content>
</ion-view>
