<ion-view view-title="{{ 'setting_title' | translate}}">
  <ion-content ng-controller="SettingCtrl">

<div class="list">
  <ion-list>
      <div class="item item-divider"> 
         {{"setting_title_s1" | translate}}
      </div> 
      <label class="item item-input item-select">
         <div class="input-label">
            {{"setting_target_title" | translate}}
         </div>
         <select ng-model="targetSelect" ng-options="lang.name for lang in targetlang" ng-change="change_Targetlang(targetSelect.ID)">
         </select>
       </label>    
      <label class="item item-input item-select">
         <div class="input-label">
            {{"setting_mylang_title" | translate}}
         </div>
         <select ng-model="mySelect" ng-options="lang.name for lang in mylang" ng-change="change_Mylang(mySelect.ID)">
         </select>
       </label>    
    </ion-list>


    
<!--     
    {{myLanguage.value}}
    <br>
    sel - {{sel_text}}
    <br>
 -->

</div>

  </ion-content>
</ion-view>
