/* Empty. Add your own CSS if you like */

@font-face { 
	font-family: 'Nanum'; 
	font-weight: normal;	
	src : url('../font/NanumBarunGothicUltraLight.otf') format("opentype");
}


@font-face { 
	font-family: 'Nanum'; 
	font-weight: bold;
	src : url('../font/NanumBarunGothic.otf') format("opentype");
}
/*
@font-face { 
	font-family: 'Noto'; 
	font-weight: 100;
	src : url('../font/NotoSansCJKkr-Thin.otf') format("opentype");
}
@font-face { 
	font-family: 'Noto'; 
	font-weight: 200;
	src : url('../font/NotoSansCJKkr-Light.otf') format("opentype");;
}

@font-face { 
	font-family: 'Noto'; 
	font-weight: normal;
	src : url('../font/NotoSansCJKkr-DemiLight.otf') format("opentype");;
}
@font-face { 
	font-family: 'Noto'; 
	font-weight: bold;
	src : url('../font/NotoSansCJKkr-Bold.otf') format("opentype");;
}
*/

body, .ionic-body {
font-family: "Nanum";
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Nanum";
}

input, button, select, textarea {
	font-family: "Nanum";
}


<<<<<<< HEAD
=======

>>>>>>> origin/master
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

/* top bar */
.bar.bar-clear{
  background-color:rgba(0, 0 , 0 ,0.4) !important;
<<<<<<< HEAD
}

.bar-background {
  background-color: none !important;
  background-size: 100% 100%;
=======

}


.has-km-image {
  background-color: none !important;
  background: url('../img/menu_back_km.png') repeat left top !important;
  background-size: 100% 100%;

>>>>>>> origin/master
}

/* Menu Title Bar */
.title_top{
	padding-top: 0px;
<<<<<<< HEAD
  	top:-7px !important;
  	font-size:15px !important;
=======
  	top:-7px !important;;
>>>>>>> origin/master
}

/* ion item -  Customizing */
.item-content{
  padding-top:8px !important;
  padding-bottom:8px !important;
}

<<<<<<< HEAD
=======

>>>>>>> origin/master
.div_item{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 17px;
	font-weight: 200;
}

.icon_menu{
	width: 28px;
	margin-right: 13px;
	vertical-align: middle;
}

<<<<<<< HEAD

.item-avatar a {
  padding-right: 10px !important;
  padding-left: 50px !important;
}

.item-avatar, .item-avatar .item-content{
  min-height: 50px !important; 
}

.item-content > img:first-child{    
	top: 10px !important;
    left: 5px !important;
 }

.item-short{
  padding-top:0px !important;
  padding-bottom:0px !important;
  margin-top:0px !important;
  margin-bottom:0px !important;

}

.item-short p{
	font-size: 12px !important;
	padding: 0px !important;
	margin: 0px !important;
	white-space : pre-line;
}

.item-short h2{
	font-size : 18px;
	margin-top: 5px;
	white-space : pre-line;
}

.item-short h3{
	font-size : 16px;
	margin-top: 5px;
	white-space : pre-line;
}

.item-short img{
	margin :0px !important;
	vertical-align: middle !important;
}



/* home 용 이미지 & Text */
=======
/* home 용 이미지 & Text */

>>>>>>> origin/master
 #back{
	 background-color: white;
	 height: 100%;
 }
 
 
#container {
	display: table;
	width: 100%;
<<<<<<< HEAD
	position: relative; 
	overflow: hidden;
=======
	 #position: relative; 
	 overflow: hidden;
>>>>>>> origin/master
}

#margin_zero {
	margin-top : 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#home_slide_img{
	height:220px;
	width:100%;
	background: center center;
	background-size: 100% 220px;

}

#home_slide_title{
	padding-top: 130px;
	padding-left:30px;
	padding-bottom:10px;
	text-align: left;
	color : white;
	font-size: 34px;
	text-shadow: 2px 2px 2px black;
	font-family: "Helvetica";
}

#home_slide_text{
	padding-left:30px;
	text-align: left;
	color : white;
	font-size: 17px;
	font-weight: normal;
}

.icon_stitle{
	margin-top:5px;
	margin-bottom: 0px;
	font-size: 9px;
	font-weight: 100;
	color:#888888;
}
.icon_home{
	margin: 0px;
	width:60px;

}

<<<<<<< HEAD
.zero_margin{
=======
.row_margin{
>>>>>>> origin/master
	margin: 0px;
	padding: 0px !important;
}

#custom_col {
	width: 50%;
	min-height: 140px;
	border: #eeeeee; 
	border-style: solid; 
	border-width: 1px; 

	padding : 20px 0px 0px 0px !important;
	margin: 0px 0px 4px 0px !important;
	font-size:18px;
	font-weight: normal;
	line-height: 17px;
	color:#000000;
	text-align:center !important;
 }

.my-icon:before,
.my-icon{
  font-size:50px !important;
  display:block !important;
  margin-bottom: 10px;
}

<<<<<<< HEAD
/* Image Effect*/
.imageblock{
    -webkit-box-shadow: 3px 3px 10px #3C3C3C !important;
    box-shadow: 3px 3px 10px #3C3C3C !important;
    }

=======
>>>>>>> origin/master
/* slide 관련 css */
.slider {
  height:100%;
}

.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-weight: 300;
}

#page_title{
	margin-top: 20px;
}
#page_content{
	margin: 0px 0px 0px 0px;
	text-align: left;
}

#logo {
  margin:0px;
  width:80%;
  text-align: center;
}


#list {
  width: 80%;
  margin: 30px auto;
  font-size: 15px;
}

#list ol {
  margin-top: 20px;
}

#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

/* slide 관련 css */
